DB_HOST=host
DB_PORT=port
DB_USER=username pg
DB_PASSWORD=passwd 
DB_NAME=nama db
DB_SSLMODE=disable
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=yourgmail@gmail.com
EMAIL_PASSWORD=your_16_char_app_password